import styles from './{{kebabCase name}}.module.css'
import { cn } from '@/lib/utils'

type {{pascalCase name}}Props = {
  className?: string
}

export function {{pascalCase name}}({ className }: {{pascalCase name}}Props) {
  return (
    <div className={cn(styles.root, className)}>
      {{pascalCase name}}
    </div>
  )
}
